/* about-us */

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: $h-color;
    margin-bottom: 50px;
}

.about-us-list {
    display: flex;
    padding-top: 90px;
    padding-bottom: 49px;
}

.about-us-list {
    li {
        &:not(:last-child) {
        margin-right: 30px;
        }
    }
}

.about-us-list {
    .list-item {
    display: block;
    width: 270px;
    }
}

.about-us-svg {
    width: 70px;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.about-us-bg {
    display: flex;
    background: #F5F4FA;
    height: 120px;
    margin-bottom: 30px;
    align-items: center;
}

.about-second-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $h-color;
    margin-bottom: 10px;
}

.about-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $p-color;
}
