/* hero-section */

.hero-section {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: black;
    max-width: 1600px;
}



.hero-content {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 360px;
}

.hero-title {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
}


@media screen and (min-width: 480px) {
    .hero-section {
        background-image: linear-gradient(
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)),
        url(../images/main/section_1_hero/mobile/m_header_img.jpg);
        // background-size: 768px 400px;
    }

    .hero-content {
        padding-top: 118px;
        padding-bottom: 118px;
    }
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (-webkit-min-device-pixel-ratio: 2),
  screen and (-o-min-device-pixel-ratio: 2/1),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx),
  screen and (min-width: 320px) {
  .hero-section {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)),
        url('../images/main/section_1_hero/mobile/m_header_img@2x.jpg');
  }
}

@media screen and (min-width: 768px) {
    .hero-section {
        background-image: linear-gradient(
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)),
        url(../images/main/section_1_hero/tablet/t_header_img.jpg);
        // background-size: 768px 400px;
    }

    .hero-content {
        padding-top: 118px;
        padding-bottom: 118px;
    }
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (-webkit-min-device-pixel-ratio: 2),
  screen and (-o-min-device-pixel-ratio: 2/1),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx),
  screen and (min-width: 768px) {
  .hero-section {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)),
        url('../images/main/section_1_hero/tablet/t_header_img@2x.jpg');
  }
}

@media screen and (min-width: 1200px) {

    .hero-section {
        background-image: linear-gradient(
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)),
        url(../images/main/section_1_hero/desktop/header_d-img.jpg);
    }

    .hero-title {
        font-size: 44px;
    }

    .hero-content {
        max-width: 696px;
        padding-top: 200px;
        padding-bottom: 200px;
    }


}

@media screen and (min-device-pixel-ratio: 2),
  screen and (-webkit-min-device-pixel-ratio: 2),
  screen and (-o-min-device-pixel-ratio: 2/1),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx),
  screen and (min-width: 1200px) {
  .hero-section {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)), 
        url('../images/main/section_1_hero/desktop/header_d-img@2x.jpg');
  }
}

