/* team section */
.team-section {
    padding-top: 94px;
    background: #F5F4FA;
}

.team-list {
    display: flex;
    padding-bottom: 94px;
}

.team-card {
    width: 270px;
    background: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 
    0px 2px 1px rgba(0, 0, 0, 0.2), 
    0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 1px 3px rgba(0, 0, 0, 0.12);

    > img {
        display: block;
        margin-bottom: 30px;
    }
}

.team-card-title {
    margin-bottom: 10px;
    @extend %team-card-font-style
}

.team-list {
    .team-card:not(:last-child) {
    margin-right: 30px;
    }

    .card-social-list {
        padding-bottom: 24px;
    }
}

.team-card-desc {
    font-weight: 400;
    color: $p-color;
    margin-bottom: 16px;
    @extend %team-card-font-style
}

.card-social-list {
    display: flex;
    justify-content: center;
    align-items: center;

    li:not(:last-child) {
        margin-right: 10px;
    }
  
}

.icon-svg {
    fill: $icons-color;
    transition-property: fill;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    min-height: 44px;
    border-radius: 50%;
    transition-property: background-color;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover .icon-svg,
    &:focus .icon-svg {
        fill: #ffffff;
    }

    &:hover, 
    &:focus {
    background-color: $accent-color;
    }
}